In [2]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Set file paths
world_happiness_2015 = "Data Files/2015.csv"
world_happiness_2016 = "Data Files/2016.csv"
world_happiness_2017 = "Data Files/2017.csv"
world_happiness_2018 = "Data Files/2018.csv"
world_happiness_2019 = "Data Files/2019.csv"

### 2015

In [4]:
world_happiness_2015_df = pd.read_csv(world_happiness_2015)
world_happiness_2015_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [6]:
world_happiness_2015_df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [7]:
reduced_2015 = world_happiness_2015_df[['Country', 'Happiness Score']]
reduced_2015.head()

       Country  Happiness Score
0  Switzerland            7.587
1      Iceland            7.561
2      Denmark            7.527
3       Norway            7.522
4       Canada            7.427

In [10]:
renamed_2015 = reduced_2015.rename(columns={'Country': 'Country Name', 'Happiness Score': '2015 Happiness Score'})
renamed_2015.head()

  Country Name  2015 Happiness Score
0  Switzerland                 7.587
1      Iceland                 7.561
2      Denmark                 7.527
3       Norway                 7.522
4       Canada                 7.427

In [11]:
renamed_2015.count()

Country Name            158
2015 Happiness Score    158
dtype: int64

In [12]:
renamed_2015.to_csv("Output/2015_clean.csv", index=False)

### 2016

In [13]:
world_happiness_2016_df = pd.read_csv(world_happiness_2016)
world_happiness_2016_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [14]:
world_happiness_2016_df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [15]:
reduced_2016 = world_happiness_2016_df[['Country', 'Happiness Score']]
reduced_2016.head()

       Country  Happiness Score
0      Denmark            7.526
1  Switzerland            7.509
2      Iceland            7.501
3       Norway            7.498
4      Finland            7.413

In [16]:
renamed_2016 = reduced_2016.rename(columns={'Country': 'Country Name', 'Happiness Score': '2016 Happiness Score'})
renamed_2016.head()

  Country Name  2016 Happiness Score
0      Denmark                 7.526
1  Switzerland                 7.509
2      Iceland                 7.501
3       Norway                 7.498
4      Finland                 7.413

In [17]:
renamed_2016.count()

Country Name            157
2016 Happiness Score    157
dtype: int64

In [18]:
renamed_2016.to_csv("Output/2016_clean.csv", index=False)