In [9]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#Set file paths
world_happiness_2018 = "2018.csv"

In [11]:
world_happiness_2018_df = pd.read_csv(world_happiness_2018)
world_happiness_2018_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [12]:
world_happiness_2018_df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [13]:
reduced_df = world_happiness_2018_df[['Country or region', 'Score']]
reduced_df.head()

  Country or region  Score
0           Finland  7.632
1            Norway  7.594
2           Denmark  7.555
3           Iceland  7.495
4       Switzerland  7.487

In [14]:
renamed_df = reduced_df.rename(columns={'Country or region': 'Country Name', 'Score': '2018 Happiness Score'})
renamed_df.head()

  Country Name  2018 Happiness Score
0      Finland                 7.632
1       Norway                 7.594
2      Denmark                 7.555
3      Iceland                 7.495
4  Switzerland                 7.487

In [15]:
renamed_df.count()

Country Name            156
2018 Happiness Score    156
dtype: int64

In [16]:
renamed_df.to_csv("Output/2018_clean.csv", index=False)