In [9]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#Set file paths
world_happiness_2017 = "2017.csv"

In [11]:
world_happiness_2017_df = pd.read_csv(world_happiness_2017)
world_happiness_2017_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [12]:
world_happiness_2017_df.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [13]:
reduced_df = world_happiness_2017_df[['Country', 'Happiness.Score']]
reduced_df.head()

       Country  Happiness.Score
0       Norway            7.537
1      Denmark            7.522
2      Iceland            7.504
3  Switzerland            7.494
4      Finland            7.469

In [14]:
renamed_df = reduced_df.rename(columns={'Country': 'Country Name', 'Happiness.Score': '2017 Happiness Score'})
renamed_df.head()

  Country Name  2017 Happiness Score
0       Norway                 7.537
1      Denmark                 7.522
2      Iceland                 7.504
3  Switzerland                 7.494
4      Finland                 7.469

In [15]:
renamed_df.count()

Country Name            155
2017 Happiness Score    155
dtype: int64

In [16]:
renamed_df.to_csv("Output/2017_clean.csv", index=False)