In [1]:
# Dependencies
import pandas as pd

# Set up file paths
pop_unemployment_path = '../ocean_data/pop_unemployment.csv'
gdp_path = '../project_data_teare/Output/GDP_API_clean.csv'
labor_path = '../project_data_teare/Output/Labor_API_clean.csv'
gov_expend_path = '../project_data_petrus/ed_spending.csv'

In [2]:
# Import population and unemployment CSVs
pop_unemployment_df = pd.read_csv(pop_unemployment_path)
pop_unemployment_df = pop_unemployment_df.drop(columns=['Unnamed: 0'])
pop_unemployment_df.head()

,Country Name,2015 Total Pop,2016 Total Pop,2017 Total Pop,2018 Total Pop,2019 Total Pop,2015 Adults (%),2016 Adults (%),2017 Adults (%),2018 Adults (%),...,2015 Female Unemploment,2016 Female Unemploment,2017 Female Unemploment,2018 Female Unemploment,2019 Female Unemploment,2015 Male Unemployment,2016 Male Unemployment,2017 Male Unemployment,2018 Male Unemployment,2019 Male Unemployment
0,Aruba,104341.0,104872.0,105366.0,105845.0,106314.0,69.159774,69.137615,68.946339,68.646606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,52.644299,53.207964,53.763223,54.324898,...,14.427,14.314,14.090,13.906,14.004,10.684000,10.571,10.416,10.287,10.331
2,Angola,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,50.615167,50.685629,50.807787,50.974702,...,7.681,7.563,7.467,7.327,6.942,6.883000,6.882,6.769,6.708,6.830
3,Albania,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,68.704725,68.660092,68.642614,68.582390,...,17.098,14.573,12.563,11.229,11.604,17.068001,15.678,14.590,13.127,12.846
4,Andorra,78011.0,77297.0,77001.0,77006.0,77142.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Import GDP CSV
gdp_df = pd.read_csv(gdp_path)
gdp_df = gdp_df.drop(columns=['Unnamed: 0'])
# gdp_df = gdp_df.drop(columns=['Country Code'])
# gdp_df = gdp_df.drop(columns=['Indicator Name'])
# gdp_df = gdp_df.rename(columns={'2015': '2015 GDP', '2016': '2016 GDP', '2017':'2017 GDP', '2018': '2018 GDP', 
#                                 '2019': '2019 GDP'})
gdp_df.head()

,Country Name,2015 Total GDP,2016 Total GDP,2017 Total GDP,2018 Total GDP,2019 Total GDP
0,Aruba,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN
1,Afghanistan,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10
2,Angola,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10
3,Albania,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10
4,Andorra,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09

In [7]:
# Import Labor CSV
labor_df = pd.read_csv(labor_path)
labor_df = labor_df.drop(columns=['Unnamed: 0'])
# labor_df = labor_df.drop(columns=['Country Code'])
# labor_df = labor_df.drop(columns=['Indicator Name'])
# labor_df = labor_df.rename(columns={'2015': '2015 Total Labor Force', '2016': '2016 Total Labor Force', 
#                                     '2017':'2017 Total Labor Force', '2018': '2018 Total Labor Force', 
#                                     '2019': '2019 Total Labor Force'})
labor_df.head()

,Country Name,2015 Total Labor Force,2016 Total Labor Force,2017 Total Labor Force,2018 Total Labor Force,2019 Total Labor Force
0,Aruba,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,9176450.0,9566712.0,9947922.0,10334090.0,10699797.0
2,Angola,11437925.0,11848410.0,12268842.0,12705486.0,13164276.0
3,Albania,1289562.0,1302836.0,1316869.0,1318022.0,1313923.0
4,Andorra,NaN,NaN,NaN,NaN,NaN

In [9]:
# Import government expenditure 
gov_expend_df = pd.read_csv(gov_expend_path)
gov_expend_df = gov_expend_df.drop(columns=['Unnamed: 0'])
gov_expend_df.head()

,Country Name,2015 % Total GDP,2016 % Total GDP,2017 % Total GDP,2018 % Total GDP,2019 % Total GDP,"2015 % Spending/Student, Primary","2016 % Spending/Student, Primary","2017 % Spending/Student, Primary","2018 % Spending/Student, Primary",...,"2015 % Spending/Student, Secondary","2016 % Spending/Student, Secondary","2017 % Spending/Student, Secondary","2018 % Spending/Student, Secondary","2019 % Spending/Student, Secondary","2015 % Spending/Student, Tertiary","2016 % Spending/Student, Tertiary","2017 % Spending/Student, Tertiary","2018 % Spending/Student, Tertiary","2019 % Spending/Student, Tertiary"
0,Afghanistan,3.25580,4.22836,4.05887,NaN,NaN,10.24688,10.34081,10.25174,NaN,...,10.29234,11.98575,11.30720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,3.43797,3.96209,3.61172,NaN,NaN,29.84568,NaN,34.18148,NaN,...,6.78368,9.82258,7.97805,NaN,NaN,12.88117,14.64597,13.78559,NaN,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,3.28035,3.23707,3.21709,3.24672,3.15162,13.45657,12.74297,12.72411,12.30702,...,14.38817,13.63639,13.56321,13.93424,NaN,27.73714,27.08058,23.66465,22.28547,NaN

In [10]:
# Merge pop/unemployment and GDP Dataframes
pop_unemployment_df = pop_unemployment_df.merge(gdp_df, how='left', on='Country Name')
pop_unemployment_df.head()

,Country Name,2015 Total Pop,2016 Total Pop,2017 Total Pop,2018 Total Pop,2019 Total Pop,2015 Adults (%),2016 Adults (%),2017 Adults (%),2018 Adults (%),...,2015 Male Unemployment,2016 Male Unemployment,2017 Male Unemployment,2018 Male Unemployment,2019 Male Unemployment,2015 Total GDP,2016 Total GDP,2017 Total GDP,2018 Total GDP,2019 Total GDP
0,Aruba,104341.0,104872.0,105366.0,105845.0,106314.0,69.159774,69.137615,68.946339,68.646606,...,NaN,NaN,NaN,NaN,NaN,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN
1,Afghanistan,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,52.644299,53.207964,53.763223,54.324898,...,10.684000,10.571,10.416,10.287,10.331,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10
2,Angola,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,50.615167,50.685629,50.807787,50.974702,...,6.883000,6.882,6.769,6.708,6.830,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10
3,Albania,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,68.704725,68.660092,68.642614,68.582390,...,17.068001,15.678,14.590,13.127,12.846,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10
4,Andorra,78011.0,77297.0,77001.0,77006.0,77142.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09

In [11]:
# Merge pop/unemployment/GDP and labor Dataframes
pop_unemployment_df = pop_unemployment_df.merge(labor_df, how='left', on='Country Name')
pop_unemployment_df.head()

,Country Name,2015 Total Pop,2016 Total Pop,2017 Total Pop,2018 Total Pop,2019 Total Pop,2015 Adults (%),2016 Adults (%),2017 Adults (%),2018 Adults (%),...,2015 Total GDP,2016 Total GDP,2017 Total GDP,2018 Total GDP,2019 Total GDP,2015 Total Labor Force,2016 Total Labor Force,2017 Total Labor Force,2018 Total Labor Force,2019 Total Labor Force
0,Aruba,104341.0,104872.0,105366.0,105845.0,106314.0,69.159774,69.137615,68.946339,68.646606,...,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,52.644299,53.207964,53.763223,54.324898,...,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,9176450.0,9566712.0,9947922.0,10334090.0,10699797.0
2,Angola,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,50.615167,50.685629,50.807787,50.974702,...,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10,11437925.0,11848410.0,12268842.0,12705486.0,13164276.0
3,Albania,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,68.704725,68.660092,68.642614,68.582390,...,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10,1289562.0,1302836.0,1316869.0,1318022.0,1313923.0
4,Andorra,78011.0,77297.0,77001.0,77006.0,77142.0,NaN,NaN,NaN,NaN,...,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,NaN,NaN,NaN,NaN,NaN

In [12]:
# # Merge pop/etc and gov expend Datafrans
pop_unemployment_df = pop_unemployment_df.merge(gov_expend_df, how='left', on='Country Name')
pop_unemployment_df.head()

,Country Name,2015 Total Pop,2016 Total Pop,2017 Total Pop,2018 Total Pop,2019 Total Pop,2015 Adults (%),2016 Adults (%),2017 Adults (%),2018 Adults (%),...,"2015 % Spending/Student, Secondary","2016 % Spending/Student, Secondary","2017 % Spending/Student, Secondary","2018 % Spending/Student, Secondary","2019 % Spending/Student, Secondary","2015 % Spending/Student, Tertiary","2016 % Spending/Student, Tertiary","2017 % Spending/Student, Tertiary","2018 % Spending/Student, Tertiary","2019 % Spending/Student, Tertiary"
0,Aruba,104341.0,104872.0,105366.0,105845.0,106314.0,69.159774,69.137615,68.946339,68.646606,...,NaN,NaN,NaN,NaN,NaN,145.57715,100.24176,NaN,NaN,NaN
1,Afghanistan,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,52.644299,53.207964,53.763223,54.324898,...,10.29234,11.98575,11.30720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,50.615167,50.685629,50.807787,50.974702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,68.704725,68.660092,68.642614,68.582390,...,6.78368,9.82258,7.97805,NaN,NaN,12.88117,14.64597,13.78559,NaN,NaN
4,Andorra,78011.0,77297.0,77001.0,77006.0,77142.0,NaN,NaN,NaN,NaN,...,14.38817,13.63639,13.56321,13.93424,NaN,27.73714,27.08058,23.66465,22.28547,NaN