In [1]:
# Dependencies
import pandas as pd

# Set up file paths
pop_unemployment_path = '../ocean_data/pop_unemployment.csv'
gdp_path = '../project_data_teare/Output/GDP_API_clean.csv'
labor_path = '../project_data_teare/Output/Labor_API_clean.csv'
gov_expend_path = '../project_data_petrus/ed_spending.csv'

In [2]:
# Import population and unemployment CSVs
pop_unemployment_df = pd.read_csv(pop_unemployment_path)
pop_unemployment_df = pop_unemployment_df.drop(columns=['Unnamed: 0'])
pop_unemployment_df.head()

,Country Name,2015 Total Pop,2016 Total Pop,2017 Total Pop,2018 Total Pop,2019 Total Pop,2015 Adults (%),2016 Adults (%),2017 Adults (%),2018 Adults (%),...,2015 Female Unemploment,2016 Female Unemploment,2017 Female Unemploment,2018 Female Unemploment,2019 Female Unemploment,2015 Male Unemployment,2016 Male Unemployment,2017 Male Unemployment,2018 Male Unemployment,2019 Male Unemployment
0,Aruba,104341.0,104872.0,105366.0,105845.0,106314.0,69.159774,69.137615,68.946339,68.646606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,52.644299,53.207964,53.763223,54.324898,...,14.427,14.314,14.090,13.906,14.004,10.684000,10.571,10.416,10.287,10.331
2,Angola,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,50.615167,50.685629,50.807787,50.974702,...,7.681,7.563,7.467,7.327,6.942,6.883000,6.882,6.769,6.708,6.830
3,Albania,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,68.704725,68.660092,68.642614,68.582390,...,17.098,14.573,12.563,11.229,11.604,17.068001,15.678,14.590,13.127,12.846
4,Andorra,78011.0,77297.0,77001.0,77006.0,77142.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Import GDP CSV
gdp_df = pd.read_csv(gdp_path)
gdp_df = gdp_df.drop(columns=['Unnamed: 0'])
gdp_df = gdp_df.drop(columns=['Country Code'])
gdp_df = gdp_df.drop(columns=['Indicator Name'])
gdp_df = gdp_df.rename(columns={'2015': '2015 GDP', '2016': '2016 GDP', '2017':'2017 GDP', '2018': '2018 GDP', 
                                '2019': '2019 GDP'})
gdp_df.head()

,Country Name,2015 GDP,2016 GDP,2017 GDP,2018 GDP,2019 GDP
0,Aruba,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN
1,Afghanistan,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10
2,Angola,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10
3,Albania,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10
4,Andorra,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09

In [4]:
# Import Labor CSV
labor_df = pd.read_csv(labor_path)
labor_df = labor_df.drop(columns=['Unnamed: 0'])
labor_df = labor_df.drop(columns=['Country Code'])
labor_df = labor_df.drop(columns=['Indicator Name'])
labor_df = labor_df.rename(columns={'2015': '2015 Total Labor Force', '2016': '2016 Total Labor Force', 
                                    '2017':'2017 Total Labor Force', '2018': '2018 Total Labor Force', 
                                    '2019': '2019 Total Labor Force'})
labor_df.head()

,Country Name,2015 Total Labor Force,2016 Total Labor Force,2017 Total Labor Force,2018 Total Labor Force,2019 Total Labor Force
0,Aruba,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,9176450.0,9566712.0,9947922.0,10334090.0,10699797.0
2,Angola,11437925.0,11848410.0,12268842.0,12705486.0,13164276.0
3,Albania,1289562.0,1302836.0,1316869.0,1318022.0,1313923.0
4,Andorra,NaN,NaN,NaN,NaN,NaN

In [5]:
# Import government expenditure 
gov_expend_df = pd.read_csv(gov_expend_path)
gov_expend_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '../project_data_petrus/ed_spending.csv'

In [ ]:
# Merge pop/unemployment and GDP Dataframes
pop_unemployment_df = pop_unemployment_df.merge(gdp_df, how='left', on='Country Name')
pop_unemployment_df.head()

In [ ]:
# Merge pop/unemployment/GDP and labor Dataframes
pop_unemployment_df = pop_unemployment_df.merge(labor_df, how='left', on='Country Name')
pop_unemployment_df.head()

In [ ]:
# # Merge pop/etc and gov expend Datafrans
# pop_unemployment_df = pop_unemployment_df.merge(gov_expend_df, how='left', on='Country Name')
# pop_unemployment_df.head()